.mat-form-field {
  margin-top: 16px;
}

#status{
  background-color: rgb(223,255,218);
  padding-top: 50px;
  padding-bottom: 50px;
}

/*for mobile screen*/
@media (max-width: 480px) {
  #national_id_card{
    margin-bottom: 5px;
  }
}
