<div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 offset-lg-1 col-md-12 col-sm-12">
        <img src="../../../assets/images/surokkha.svg" class="surokkha_logo">
      </div>
      <div class="col-lg-2 col-md-12 col-sm-12">
        <p><a href="https://surokkha.gov.bd/privacy-policy">Privacy Policy</a></p>
        <p><a href="https://surokkha.gov.bd/terms-of-service">Terms Of Service</a></p>
        <p><a href="https://surokkha.gov.bd/affiliates">Other Affiliates</a></p>
      </div>
      <div class="col-lg-3 col-md-12 col-sm-12" >
        <p>Developed By - Department of ICT</p>
        <img style="text-align: center;" src="https://surokkha.gov.bd/static/media/ict.52410752.png">
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12" id="affiliates">
        <p>Affiliates</p>
        <img style="text-align: center;" src="https://surokkha.gov.bd/static/media/org.ed08c793.png">
      </div>
    </div>
  </div>