<div id="verify-certificate">

  <div class="container">
    <div class="row">
      <div class="col-md-6" style="text-align: center;"><h2 style="font-weight: bold;">{{'VERIFY_CERTIFICATE.Verify_Certificate' | translate}}</h2></div>
      <div class="col-md-6" style="text-align: center;">
        <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16" style="transform: rotate(-25deg)">
          <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/>
          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        </svg>
      </div>
    </div>

  </div>
</div>
<div class="container" style="margin-bottom: 30px; margin-top: 50px;">

  <p style="margin-top: 20px;font-size: 17px; margin-bottom: 70px;">{{'VERIFY_CERTIFICATE.Verify_Certificate_Description' | translate}}</p>
  <a href="#" style="color: red; font-size: large;">{{'VERIFY_CERTIFICATE.Verify_Your_Vaccine_Certificate' | translate}}</a>
  <p style="margin-top: 20px;font-size: 17px; margin-bottom: 100px;"></p>

  <div class="row">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12" id="national_id_card">
        <div class="form-control">
          <p>{{'VERIFY_CERTIFICATE.NID' | translate}}</p>
          <input type="number" class="form-control"  placeholder="NID Number">
        </div>
      </div>


      <div class="col-lg-6 col-md-12 col-sm-12" id="date_of_birth">
        <div class="form-control">
          <p>{{'VERIFY_CERTIFICATE.DOB' | translate}}</p>
          <div class="row">
            <!--          date-->
            <select class="col-lg-2 col-md-2 col-sm-1 form-select" style="margin-left: 5px; margin-right: 5px; width: 80px" [(ngModel)]="selectedDay" name="day">
              <option value="" disabled selected>Day</option>
              <option *ngFor="let day of days" [value]="day">{{ day }}</option>
            </select>
          
            <!-- Month -->
            <select class="col-lg-2 col-md-2 col-sm-1 form-select" style="margin-right: 5px; width: 120px" [(ngModel)]="selectedMonth" name="month">
              <option value="" disabled selected>Month</option>
              <option *ngFor="let month of months" [value]="month">{{ month }}</option>
            </select>
          
            <!-- Year -->
            <select class="col-lg-2 col-md-2 col-sm-1 form-select" style="width: 100px" [(ngModel)]="selectedYear" name="year">
              <option value="" disabled selected>Year</option>
              <option *ngFor="let year of years" [value]="year">{{ year }}</option>
            </select>
                    
          </div>


        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12" style="margin-top: 5px;">
      <div class="form-control">
        <p>{{'VERIFY_CERTIFICATE.Vaccination_Certificate_Number' | translate}}</p>
        <input type="number" class="form-control"  placeholder="Example: 344 537 2765">
      </div>
    </div>

    <div class="container" style="margin-top: 10px;">
      <button type="submit" class="btn btn-success col-2" style="width: auto;">Verify Vaccination Certificate</button>
    </div>
  </div>
</div>
