
  <div class="container" id="appStore_part">
      <h1>{{'HOME.Mujib_Header' | translate}}</h1>
      <div class="row">
        <div class="row text-center">
          <div class="col-lg-4 col-md-4 col-sm-12">
            <a href="#"><img src="../../../assets/images/mujib.png">
            <h3 class="appStoreText">{{'HOME.Mujib' | translate}}</h3></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <a href="#"><img src="../../../assets/images/google-play.png">
            <h3 class="appStoreText">{{'HOME.Mujib_Android_App' | translate}}</h3></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <a href="#"><img src="../../../assets/images/apple-store.png">
            <h3 class="appStoreText">{{'HOME.Mujib_IOS_App' | translate}}</h3></a>
          </div>
        </div>
      </div>
 
  </div>