
<div class="container" id="process_of_vaccination">
      <h1>{{'HOME.PROCESS' | translate}}</h1>
      <div class="row text-center">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <img src="../../../assets/images/online-registration.png">
          <h2>{{'HOME.Online_Registration' | translate}}</h2>
          <p>{{'HOME.Online_Registration_Description' | translate}}</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <img src="../../../assets/images/sms-notifications.png">
          <h2>{{'HOME.SMS_Notification' | translate}}</h2>
          <p>{{'HOME.SMS_Notification_Description' | translate}}</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <img src="../../../assets/images/vaccination.png">
          <h2>{{'HOME.Vaccination' | translate}}</h2>
          <p>{{'HOME.Vaccination_Description' | translate}}</p>
        </div>
      </div>
  </div>
  
  